{% extends 'base.html' %}

{% block body %}
{% load static %}


    <div class="row">
	
        <div class="col-sm-offset-3 col-sm-7">
            <img src="{% static 'home/inspire.jpg' %}" style="width:400px;height:300px;" alt="counsel">
        </div>
      </div>
    <div class="row">
		
        <div class="col-sm-offset-5 col-sm-7">
            <br>
              <section class="container-fluid">>
                <div class="row">
                  <div class="container">
                    <h1 class="title is-2">
                      eCounselling Chat
                    </h1>
                    <h3 class="subtitle is-5">
                      Welcome to Our online forums!
                      <br/>
                      Join one of the rooms below to
                      </br>
                      start chatting!
                    </h3>
                  </div>
                </div>
              </section>
              </div>
			  </div>
<div class="row">
<div class="col-sm-offset-3 col-sm-7">
              <section class="section">
                <div class="container">
                  <div class="columns">
                    {% for room in rooms %}
                    <div class="column">
                      <div class="card rounded-edges">
                        <div class="card-content">
                          <p class="title is-4">{{room.name}}</p>
                          <div class="content">
                            <p>
                              {{room.description}}
                            </p>
                            <a href="rooms/{{room.slug}}" class="button">Join Room</a>
                          </div>
                        </div>
                      </div>
                    </div>
                    {% endfor %}
                  </div>
                </div>
              </section>
</div>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
       
</div>
  {# Second Signup Link #}
    <!--<a href="{% url 'signup'%}" class=" sgn-btm ">SIGN UP </a>
    <a href="{% url 'login'%}" class=" sgn-btm ">LOG IN </a>-->




{% endblock %}