{% extends 'base.html' %}
{%load static%}
{%block body%}


<div class="container">
<div class="row">
    <h2 class="lead">Healthy Mind, Healthy Body</h2>
    
        <div class="col-sm-offset-3 col-sm-7">
            <h3>What is Counselling?</h3>
            <p>A discussion therapy that involves a trained
            therapist listening to you and helping you
            find ways to deal with emotional issues.</p>


        </div>
        <div class="col-sm-offset-3 col-sm-7">
            <div class="container">
              <div class="columns">
                <div class="column is-three-quarters">
                  <section>
                    <div id="messages"></div>
                    <form id="message-form">
                      <div class="field">
                        <label class="label">Message</label>
                        <div class="control">
                          <textarea class="textarea" id="message-input"placeholder="Your message here" rows="3" autofocus></textarea>
                        </div>
                      </div>
                      <button type="submit" class="button">Send</button>
                    </form>
                  </section>
                </div>


              </div>
            </div>
        </div>
        <div class="col-sm-offset-3 col-sm-7">
            <img class="" src=""/>
            <h3>Some Encouraging Article</h3>
            <p><a href="https://www.keepinspiring.me/inspirational-words-of-encouragement/">KeepInspiring.me</a></p></br>
            <p><a href="https://www.desiringgod.org/topics/encouragement/articles/">DesiringGod.org</a></p></br>
            <p><a href="https://strengthforthesoul.com/encouragement/articles-of-encouragement/">strengthforthesoul</a></p></br>

        </div>
    
    {# Second Signup Link #}
    <!--<a href="{% url 'signup'%}" class=" sgn-btm ">SIGN UP </a>
    <a href="{% url 'login'%}" class=" sgn-btm ">LOG IN </a>-->



  <script src="https://media.twiliocdn.com/sdk/js/common/v0.1/twilio-common.min.js"></script>
  <script src="https://media.twiliocdn.com/sdk/js/chat/v2.0/twilio-chat.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
  <script src="{% static 'stdForum/scripts/publicChat.js' %}"></script>

</div>
</div>
{%endblock%}