{% extends "django_messages/base.html" %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<br class="mkt-s2 container">
    <div class="mkt-s2-body">
        <div class="col-md-4 mkt-vp">
            <h1>{% trans "Compose Message"%}</h1>
            <form action="" method="post">
            {% csrf_token %}
            <table>
            {{ form|crispy }}
            </table>
            <input type="submit" value="{% trans "Send" %} &raquo;"/>
            </form>
        </div>
        <div class="col-md-4 div-1">
            <h1>{% trans "Inbox" %}</h1>
            {% if message_list %}
            <table class="messages">
                <thead>
                    <tr><th>{% trans "Sender" %}</th><th>{% trans "Subject" %}</th><th>{% trans "Received" %}</th><th>{% trans "Action" %}</th></tr>
                </thead>
                <tbody>
            {% for message in message_list %}
                <tr>
                    <td>{{ message.sender }}</td>
                    <td>
                        {% if message.new %}<strong>{% endif %}
                        {% if message.replied %}<em>{% endif %}
                            <a href="{{ message.get_absolute_url }}">{{ message.subject }}</a></br>
                        {% if message.replied %}</em>{% endif %}
                        {% if message.new %}</strong>{% endif %}</td>
                    <td>{{ message.sent_at|date:_("DATETIME_FORMAT") }}</td>
                    <td><a href="{% url 'messages_delete' message.id %}">{% trans "delete" %}</a></td>
                </tr>
            {% endfor %}
                </tbody>
            </table>
            {% else %}
            <p>{% trans "No messages!" %}</p>
            {% endif %}

        </div>
        <div class="col-md-4 mkt-vp">
            <h1>{% trans "Sent Messages" %}</h1>
            {% if message_list %}
            <table class="messages">
                <thead>
                    <tr><th>{% trans "Recipient" %}</th><th>{% trans "Subject" %}</th><th>{% trans "Sent" %}</th><th>{% trans "Action" %}</th></tr>
                </thead>
                <tbody>
            {% for message in message_list %}
                <tr>
                    <td>{{ message.recipient }}</td>
                    <td>
                    <a href="{{ message.get_absolute_url }}">{{ message.subject }}</a>
                    </td>
                    <td>{{ message.sent_at|date:_("DATETIME_FORMAT") }}</td>
                    <td><a href="{% url 'messages_delete' message.id %}?next={% url 'messages_outbox' %}">{% trans "delete" %}</a></td>
                </tr>
            {% endfor %}
                </tbody>
            </table>
            {% else %}
            <p>{% trans "No messages." %}</p>
            {% endif %}
        </div>
    </div>
    {# Second Signup Link #}
    <!--<a href="{% url 'signup'%}" class=" sgn-btm ">SIGN UP </a>
    <a href="{% url 'login'%}" class=" sgn-btm ">LOG IN </a>-->
</div>

{% endblock %}