{% extends 'common_counsel.html' %}

{%block common_counsel%}
{% load static %}

<br class="container">
<div class="row">
    <div class="mkt-s2-body">
        <div class="col-md-4">
            <h3>What is Counselling?</h3>
            <p>A discussion therapy that involves a trained
            therapist listening to you and helping you
            find ways to deal with emotional issues.</p>

            <img src="{% static 'home/quotes.jpg' %}" style="width:400px;height:300px;" alt="counsel">

        </div>
		</div>
        <div class="col-md-4 div-1">
            <img class="" src=""/>
            <h3>Counselling is NOT!</h3>
            <p> Giving advice.</p>
            <p> Being judgemental.</p>
            <p> Attempting to sort out the problems of the client.</p>
            <p> Getting emotionally involved with the client.</p>
            <p>Looking at a client’s problems from your own perspective, based on your own value system.</p>

        </div>
        <div class="col-md-4 mkt-vp">
            <img class="" src=""/>
            <h3>Why U-eCounselling</h3>
            <p>Accessibility. Web counselling is easily accessible to all those who wish to use it. </p>
            <p>Convenience. Online therapy is convenient. ...</p>
            <p>Affordability. Web counselling has been shown to be more economical for both the therapist and the client.</p>
        </div>
    </div>
    {# Second Signup Link #}
    <!--<a href="{% url 'signup'%}" class=" sgn-btm ">SIGN UP </a>
    <a href="{% url 'login'%}" class=" sgn-btm ">LOG IN </a>-->
</div>
{% endblock common_counsel %}
