{% extends 'common_student.html' %}
{% load custom_time_tags %}

{% block common_student %}

   <div class="student">
           <div class="container">
          <div class="row min-height">
              <div class="col-sm-12">
                             
                            <div class="row main_boder">
                                <div class="col-sm-7">
                                     <h3 class="appointmnet_list">My Appointments</h3>
                                </div>
                                <div class="col-sm-5">
                                      <form class="form-inline my-2 my-lg-0" method="GET" action="">
                                          <input class="form-control mr-sm-2" type="text" name="q" placeholder="Search By Counsellor Name" placeholder="Search With Name" aria-label="Search">
                                          <button class="btn btn-outline-success my-2 my-sm-0" type="submit" value="Search">Search</button>
                                       </form>
                                </div>
 
                            </div>
                             
                             <table class="table">
                                 <thead>
                                  <tr>
                                    <th scope="col">Appointment With</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Time</th>
                                    <th scope="col">Room Number</th>
                                    
                                  </tr>
                                </thead>
                                 {% current_time "%H:%M %p" as now %}
                                 <p>Time: {{ now }}</p>
                                <tbody>{% for appoint in query %} <!--For loop-->
                                  <tr>
                                      <!--</t>  {% now "f" %}-->
                                    <th scope="row">{{appoint.user}}</th>
                                    <td>{{appoint.date}}</td>
                                    <td>{{appoint.time_start}} - {{appoint.time_end}}</td>
                                    <td>{{appoint.room_number}}</td>

                                    {% if appoint.time_start < now and now < appoint.time_end%}
                                    <td>
                                      <a href='{% url "messages_compose_to" %}'> <button class="btn btn-primary " type="submit">Start Chat</button></a></span>
                                    </td>
                                    <td>
                                      <a href='{% url "questions" %}'> <button class="btn btn-primary" type="submit" disabled>Waiting Room</button></a></span>
                                    </td>
                                    {% else %}
                                    <td>
                                      <a href='{% url "messages_compose_to" %}'> <button class="btn btn-secondary" type="submit" >Start Chat</button></a></span>
                                    </td>
                                    <td>
                                      <a href='{% url "questions" %}'> <button class="btn btn-primary" type="submit">Waiting Room</button></a></span>
                                    </td>
                                    {% endif %}
                                  </tr>{% endfor %}<!--End For loop--> 

                                </tbody>
                            </table>
                                                                                             
              </div>
       
          </div>
      </div>
      </div>

      <div class="footer">
           <div class="container">
          <div class="row">
              <div class="col-sm-12">

              </div>
       
          </div>
      </div>
      </div>



    
{% endblock common_student %}



